<main>
	<h1>Stock Watcher</h1>
	<input type="text" placeholder="Enter Stock Symbol">
	<button>Add Stock</button>
	<div>
		<div>

		</div>
		<div>
			<h3>Alphabet Inc. Cl C</h3>
			<p>GOOG</p>
			<p>706.32 <span>15.32 (2.22%)</span></p>
			<p><span>Open 691</span> <span>High 709.28</span> <span>698.47</span></p>
		</div>
	</div>
</main>