<main>
	<div id="stocks-header">
		<h1>Stock Watcher</h1>
		<input type="text" placeholder="Enter Stock Symbol" id="stock-search-input">
		<button id="add-stock">Add Stock</button>
	</div>
	<div id="stocks-body">
		
	</div>
</main>