<div>
  <div class="stock-performance-graph">

  </div>
  <div class="stock-data">
    <h3>name</h3>
    <p>model.symbol</p>
    <p>model.currentPrice  <span>15.32 ( model.changeAmmount * 100  %)</span></p>
    <p><span>Open  model.openPrice %></span> <span>High  model.highPrice %></span> <span>Low  model.lowPrice %></span></p>
  </div>
</div>